@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAFA;  /* Light background color */
  --grid-line-color: #F3F3F3;  /* Light grid line color */
  --foreground: #171717;  /* Default text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FAFAFA;  /* Light background color */
    --grid-line-color: #F3F3F3;  /* Light grid line color */
    --foreground: #171717;  /* Default text color */
}}

body {
  background-color: var(--background);
  background-image: linear-gradient(90deg, var(--grid-line-color) 1px, transparent 1px),
                    linear-gradient(var(--grid-line-color) 1px, transparent 1px);
  background-size: 20px 20px;  /* Size of each grid cell */
  background-attachment: fixed;
  background-position: center;
  color: var(--foreground);
  font-family: 'Aileron', Arial, Helvetica, sans-serif;  /* Default font */
}


/* Aileron Font Family */
@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-HeavyItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-UltraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-UltraLightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

/* ClashGrotesk Font Family */
@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Aileron', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
